.navbar-header img{
    display: inline-block;
    width: 250px;

}

.ctn1 {
    width: 98%;
    margin-right: 20px !important;
    margin-left: 20px;
    height: 100px;
}
#navbar {
    min-width: 343px;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 10px 0px;
    font-family: 'Oswald', sans-serif;
}
#navbar ul li a {
    border-right: 1px solid #ccc;
}

#a-first {
    border-left: 1px solid #ccc;
}

#navbar ul li a span {
    font-family: Arial;
    display: block;
    font-weight: normal;
    font-size: 15px;
    padding-top: 5px;
}

.navbar-nav {
    background-color: #F8F8F8;
}

.navbar-nav a:hover , .navbar-nav .active a {
    background: #0383c0 !important;
    color: white !important;
}

.jumbotron { 
    color: white;
    margin-top: 100px;
    margin-bottom: 0;
    background: url(../img/jumbotron-bg.png);
}

.jumbotron .jbt-logo {
    padding: 30px;
}

.jumbotron-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(235, 235, 235);
}

.jumbotron-bottom .row .col-md-3 .icon-4x{
    display: flex;
}

.jumbotron-bottom .row .col-md-3 span{
    width: 100%;
    margin: auto;
}
.jumbotron-bottom .row .col-md-3 .text-center {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.fa-color {
    color: #0383c0 !important;
}

h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.take-a-close-look {
    text-align: center;
    display: block;
    background-color: #E58B31;
    color: white;
    padding: 40px 100px;
}

.take-a-close-look h1,p,button {
    margin: 10px 30px;
}

.feauture .col-md-6 img{
    width: 100%;
}

.feauture .col-md-6 ul li {
    font-size: 15px;    
}

.feauture {
    padding: 40px 0;
}

.more-feauture {
    color: white;
    background-color: #0383c0 !important;
}

.feauture-text {
    padding-top: 40px;
 
}

.more-feauture .feauture-text h1 {
    width: 70%;
    padding-bottom: 10px;   
    border-bottom: 3px solid white;
}

footer {
    display: flex;
    height: 50px;
    text-align: center;
    background-color: #ccc;
}

footer p {
    margin: auto;
}

.jumbotron-about {
    background-color: #0383c0 !important;
    color: white !important;
    padding: 0 30px !important;
    margin-top: 100px;
    height: 100px;
}

.jumbotron-about div {
    padding-top: 10px;
    display: flex;
}

.about-content {
    padding: 40px;
}

.about-content .col-md-5{
   overflow: hidden;
}

.about-content .col-md-5 img{
    width: 100%;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-50-gray {
    font-size: 50%;
    color: gray;
}

.contact-people .div-img {
    padding:0 !important;
    overflow: hidden;
    width: 100%;
    height: 222px;
}

.contact-people img {
    left: 0;
    width: 100%;
}
.contact-people h1,.contact-people ul,.contact-people p, .contact-people .div-img {
    margin-left: 0px;
    padding-left: 20px;
}


.text-70 {
    font-size: 70%;
}
#people-all img {
    width: 100%;
}

.services-sec {
    padding: 30px;
}

.services-sec h1, .services-sec p  {
    margin-left: 0;
    padding-left: 0;
}

.services-sec button {
    margin-left: 0;
}

.section {
    padding: 30px;
}

.tab-pane {
    display: inline !important;
}