.nav-container {
    margin: 0;
    width:  100%;
}

.item img {
    width: 100%;
}

.carousel-caption {
    bottom: 100px;
    left: 0;
    right: 0;
    text-align: left;
}

@media (max-width: 997px) {
    #icon-1 {
        display: none;
    }
    #icon-2  {
        display: none;
    }
    .carousel-caption {
        bottom: 20px;
        left: 15%;
        right: 15%;
        text-align: left;
    }
}

@media (max-width: 600px) {
    #icon-1 {
        display: none;
    }
    #icon-2  {
        display: none;
    }
    .carousel-caption {
        bottom: -20px;
        left: 15%;
        right: 15%;
        text-align: left;
    }
}
#carousel-example-generic {
    margin-top: 51px;
}

.col-2 {
    padding: 20px 30px; 
    display: flex;
}

.col-2 i {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.column-2 h3 {
    text-align: center;
    height: 50px;
}

.col-md-4-fix { 
    padding: 0 40px;
}